{% extends 'hospital/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-warning text-white">
                <h4 class="mb-0">Tester Portal</h4>
            </div>
            <div class="card-body">
                <div class="d-grid gap-3">
                    <a href="{% url 'tester_login' %}" class="btn btn-outline-warning btn-lg">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}